.mainHeader {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  background-color: lightblue;
  color: rgb(1, 107, 107);
}

.addContact {
  margin-bottom: 20px;
}

.parentWrapper {
  border: 2px lightblue solid;
  border-radius: 5px;
  max-width: 1024px;
  min-width: 460px;
  margin: 0 auto;
}

.contacts {
  max-width: 600px;
}

.addContact {
  max-width: 600px;
  margin-right: 20px;
}

.parentWrapperBody {
  display: block;
}

/* @media screen and (min-width: 460px) {
  .parentWrapperBody {
  display: block;
  justify-content: center;
}

}
 */
@media screen and (min-width: 1024px) {
  .parentWrapperBody {
    display: flex;
    justify-content: center;
  }

  .addContact {
    margin-bottom: 0;
  }
}
