.registerForm {
  margin: 20px auto;
  padding: 10px;
  border: 2px lightgray solid;
  border-radius: 5px;
  max-width: var(--inner-width);
}

.nameBlock,
.emailBlock,
.passwordBlock {
  margin-bottom: 20px;
}

.nameBlock {
  text-align: center;
}
