.contactForm {
  padding: 10px;
  border: 2px lightgray solid;
  border-radius: 5px;
  max-width: var(--inner-width);
}

.labelName,
.labelNumber {
  display: block;
  font-weight: 700;
}

.nameBlock,
.numberBlock {
  margin-bottom: 20px;
}
