.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
}

.wrapper {
  position: relative;
  padding: 10px;
  /* padding-left: 20px; */
  border: 2px lightgray solid;
  border-radius: 5px;
  max-width: var(--inner-width);
}

@media screen and (min-width: 1024px) {
  .wrapper {
    overflow-y: auto;
    max-height: 60vh;
  }
}
