.email {
  /* display: inline-block| */
  font-size: 20px;
  margin: 5px;
}

.buttonsBlock {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.buttonsBlock li,
.privateBtns li {
  margin: 5px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink {
  display: inline-block;
  border: 1px lightblue solid;
  border-radius: 5px;
  text-decoration: none;
  text-align: right;
  width: 120px;
  font-size: 20px;
  padding-right: 5px;
}

.privateLinks {
  list-style: none;
}
